contourpy==1.1.1
cycler==0.12.1
et-xmlfile==1.1.0
fonttools==4.43.1
kiwisolver==1.4.5
lxml==4.9.3
matplotlib==3.8.0
numpy==1.26.0
openpyxl==3.1.2
packaging==23.2
pandas==2.1.1
Pillow==10.0.1
pyparsing==3.1.1
python-dateutil==2.8.2
python-docx==1.0.1
pytz==2023.3.post1
scipy==1.11.3
six==1.16.0
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
